<html>
	<head>
		<title>Confirmation</title>
		<style>
			body {
				background-image: url("/images-files/background.jpg");
			}
		</style>
	</head>
	<body background="">
		<div style="
				        background-color: #ffffff96;
				        border-radius: 20px;
				        padding: 30px;
				        margin: 20%; ">
			<h1 style="color: rgba(27, 27, 56, 0.829); text-align: center">{{ message }}</h1>
		</div>
	</body>
</html>
